{% extends "base.html" %}

{% block content %}
    <div class="withmarge">
        <h2>UPLOAD</h2>
        <form id="my-awesome-dropzone" class="dropzone" method="post">
            <meta type="hidden" name="csrf_token" content="{{ csrf_token() }}"/>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

            <div class="dropzone-previews">
            </div>

            <div id="actions" class="row">
                <div class="col-lg-7">
                    <!-- The fileinput-button span is used to style the file input field as button -->
                    <span class="btn btn-success fileinput-button">
                      <i class="glyphicon glyphicon-plus"></i>
                      <span>Add files...</span>
                    </span>
                    <button type="submit" class="btn btn-primary start">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Start upload</span>
                    </button>
                    <button type="reset" class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel upload</span>
                    </button>
                </div>
                <div class="col-lg-5">
                    <!-- The global file processing state -->
                    <span class="fileupload-process">
            <div id="total-progress" class="progress progress-active" role="progressbar" aria-valuemin="0"
                 aria-valuemax="100" aria-valuenow="0" style="width: 40%;opacity: 0">
                <div class="progress-bar progress-bar-success" style="width:0%;"
                     data-dz-uploadprogress></div>
            </div>
        </span>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/dropzone.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dz.js') }}"></script>
{% endblock %}
